<div class="MainDiv">
  <div *ngIf="!gameStarted">

    <label class="btn-primary" ngbButtonLabel (click)="start()">
     Start
    </label>
  </div>

  
  <app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>
  
</div>

<div *ngIf="gameStarted">
  <app-slot-machine dataSource="dataSource" (cashOutEvent)="handleCashOut($event)"></app-slot-machine>
</div>

<router-outlet></router-outlet>