.single {
    width: 75px;
    height: 75px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.MainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.machines {
    height: auto;
    width: auto;
    margin-left: 20px;
}