<div>
    <div class="container">
        <div class="row">

            <div class="col-sm">
                <div class="single">
                    {{firstSlot}}
                </div>

            </div>
            <div class="col-sm">
                <div class="single">
                    {{secondSlot}}

                </div>

            </div>
            <div class="col-sm">
                <div class="single">
                    {{thirdSlot}}
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-sm">
                <label class="btn-primary" ngbButtonLabel (click)="roll()">
                    roll
                </label>

            </div>
            <div class="col-sm">
                <label class="btn-primary" ngbButtonLabel (click)="cashOut()">
                    cash out
                </label>

            </div>
            
        </div>
    </div>
</div>